## Scraping LQ45 IDX Stock Price using DataReader

In [1]:
# import packages
from pandas_datareader.data import DataReader
import pandas as pd
from datetime import date # Date & time functionality
import numpy as np

In [2]:
# import stock code
lq45 = pd.read_csv('lq45.csv', header=None, usecols=[0], names=['nama'])
lq45.head()

   nama
0  ADHI
1  ADRO
2  AKRA
3  ANTM
4  ASII

In [3]:
# add stock code + .JK
lq45["IDX"] = lq45["nama"].map(str) + [".JK"]
lq45.head()

   nama      IDX
0  ADHI  ADHI.JK
1  ADRO  ADRO.JK
2  AKRA  AKRA.JK
3  ANTM  ANTM.JK
4  ASII  ASII.JK

In [4]:
#start and end date
start = date(2015, 1, 1) # Default: Jan 1, 2010
end = date(2019, 3, 5) # Default: today

In [5]:
# Scrap data from Yahoo Finance 
ticker = lq45['IDX']
data_source = 'yahoo'
price = []
for i in ticker:
    data = DataReader(i, data_source, start, end)
    data['stock'] = i
    price.append(data)

In [6]:
# save stock data to csv with '\' separator and 'utf-8' encoding
stock_price = pd.concat(price)
stock_price.to_csv('stock_lq45.csv', sep='\t', encoding='utf-8')

In [7]:
# read data head
print(stock_price.head())

                   High          Low         Open        Close      Volume  \
Date
2015-01-02  3041.750000  2944.179932  2952.659912  3033.270020  39706108.0
2015-01-05  3012.060059  2889.030029  3012.060059  2901.760010  43739620.0
2015-01-06  2952.659912  2816.909912  2880.540039  2935.689941  53212005.0
2015-01-07  3041.750000  2935.689941  2935.689941  3033.270020  45694088.0
2015-01-08  3118.110107  3045.989990  3050.239990  3058.719971  57369623.0

              Adj Close    stock
Date
2015-01-02  2917.462891  ADHI.JK
2015-01-05  2790.973877  ADHI.JK
2015-01-06  2823.608154  ADHI.JK
2015-01-07  2917.462891  ADHI.JK
2015-01-08  2941.941162  ADHI.JK